.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.formulario form {
    max-width: 80%;
    background-color: rgba(0, 255, 115, 0.384);
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0,0,0, 0.08);
    border: 1px solid black;
}

body {
    background-color: rgba(0, 255, 115, 0.692);
}

@media (max-width: 720px) {
    .formulario {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    input {
        height: 40px;
    }

    select {
        height: 40px;
    }

    ::placeholder {
        font-size: 0.7em;
    }
}